body{
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prvi{
    background-color: #c7f0c7;
    position: relative;
    padding-top: 50px;
}
.drugi{
    background-color: #99ee99;
}
.treci{
    background-color: #6feb6f;
}
.gornjioblak{
    position: absolute;
    right: 600px;
    top: 50px;

  
}
.donjioblak{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
